@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

:root {
    --var-color-close: #e81123;
    --var-outline-width: 5px;

    --var-font-regular: "space grotesk";
    --var-font-handwritten: "Covered By Your Grace";
    
    --var-color-theme-darkest: #0d0d0d;
    --var-color-theme-dark: #1a1a1a;
    --var-color-theme-darkless: #262626;
    --var-color-theme-accent: #164d00;
}