#command-palette {
    width : calc(40dvw + 8px);
    min-width : 100px;
    max-width : 800px;
    height : fit-content;
    min-height : 60px;
    max-height : 60dvh;
    background: var(--var-color-theme-darkest);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--var-color-theme-dark);
    padding: 2px;
    color: var(--var-color-theme-text);
    transition-duration: var(--var-transition-duration);
    z-index: 2;
    opacity: 0;
    box-shadow: 0 0 4px 0px var(--var-color-theme-darkest);
}
#command-palette:hover {
    border-color: var(--var-color-theme-accent);
}
.command-palette-list {
    display : flex;
    flex-direction: column;
    margin-top : 2px;
    margin-bottom : 2px;
    overflow-y : scroll;
    /* scrollbar-width : none; */
    max-height : calc(60dvh - 14px);
}
#command-palette-elements-list {
}
#command-palette-actions-list {
}
.command-palette-item {
    transition-duration: var(--var-transition-duration);
    transition-property: box-shadow;
    height: 30px;
    min-height: 30px;
    line-height: 30px;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    border: 2px solid var(--var-color-theme-darkest);
}
.command-palette-item:nth-of-type(even) {
    background-color: rgb(from var(--var-color-theme-dark) r g b / 0.25);
}
.command-palette-item:hover {
    color: var(--var-color-theme-accent-bright);
    background: var(--var-color-theme-darkest);
    border-color: var(--var-color-theme-accent);
    box-shadow: 0 0 5px 2px var(--var-color-theme-accent);
    z-index: 1;
}
/* cool but way too hard on the eyes. everything fkn moves around
.command-palette-item:hover {
    translate: 8px -4px;
}
.command-palette-item:hover + .command-palette-item {
    translate: 2px -2px;
}
.command-palette-item:has(+ .command-palette-item:hover) {
    translate: 2px -2px;
} */

#command-palette-wrapper {
    position : fixed;
    left : calc((100dvw - max(min(40dvw, 800px), 100px)) / 2.0);
    width : calc(40dvw + 8px);
    min-width : 100px;
    max-width : 800px;
    top  : calc((100dvh - max(80dvh, 60px)) / 2.0);
    height : fit-content;
    min-height : 60px;
    max-height : 60dvh;
}

#command-palette-panel {
    position: absolute;
    background: var(--var-color-theme-accent);
    width: 100%;
    height: 100%;
    z-index: -1;
}
@keyframes palletAppear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes palletAppear_2 {
    0% {
        opacity: 0;
        background: var(--var-color-theme-darkest);
        box-shadow: 0 0 4px 0px var(--var-color-theme-accent);
    }
    50% {
        background: var(--var-color-theme-accent);
        box-shadow: 0 0 4px 8px var(--var-color-theme-accent-bright);
    }
    100% {
        background: var(--var-color-theme-accent-bright);
        opacity: 1;
        box-shadow: none;
    }
}
@keyframes palletDisappear {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 1%;
    }
}

#command-palette-wrapper.shown {
    opacity: 1;
}
#command-palette-wrapper.shown #command-palette-panel{
    animation: palletAppear_2 .25s ease-in 0s;
}
#command-palette-wrapper.shown #command-palette{
    animation: palletAppear .1s ease-in .0s forwards;
}

#command-palette-wrapper.hidden {
    display: none;
}