

* {
    font-family: var(--var-font-regular);
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    font-size: 16px;
    transition-duration:var(--var-transition-duration);
}

img {
    user-select: none;
    pointer-events: none;
}

body {
    background: var(--var-color-theme-darkest);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0px;
    height: 100dvh;
    gap : 2px;
}

#main-body {
    width : 100%;
    height : 100%;
    display : flex;
    flex-direction : row;
    align-items : center;
    overflow : hidden;
    scrollbar-width : none;
    text-align : end;
    gap : 2px
}

#main-body::-webkit-scrollbar {
    display: none;
}

.no {
    cursor: not-allowed;
    color: var(--var-color-theme-text-dark);
}

.checkbox {
    width: 40px;
    height: 20px;
    background: var(--var-color-theme-darkest);
    border: 2px solid var(--var-color-theme-dark);
    box-sizing: border-box;
    transition-duration: var(--var-transition-duration);
    padding: 2px;
}
.checkbox input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    left: -4px;
    top: -14px;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}
.checkbox:has(input:hover),
.checkbox:has(input[type="checkbox"]:checked) {
    border-color: var(--var-color-theme-accent);
}
.checkbox .checkbox-visalizer{
    position: relative;
    background: var(--var-color-theme-darkest);
    border: 2px solid var(--var-color-theme-dark);
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    transition-duration: var(--var-transition-duration);
}
.checkbox:has(input[type="checkbox"]:checked) .checkbox-visalizer {
    background: var(--var-color-theme-accent);
    margin-left: 20px;
    width: 12px;
    height: 12px;
    border-color: var(--var-color-theme-accent);
    transition-duration: var(--var-transition-duration);
}

.checkbox:has(input[type="checkbox"]:checked):hover .checkbox-visalizer {
    margin-left: 18px;
    width: 14px;
    background:  color-mix(in srgb, var(--var-color-theme-accent), var(--var-color-theme-dark) 25%);
}

.checkbox:has(input:hover) .checkbox-visalizer{
    border-color: var(--var-color-theme-accent);
    margin-left: 2px;
    width: 14px;
    border-color:  color-mix(in srgb, var(--var-color-theme-dark), var(--var-color-theme-accent) 25%);
}

select {
    cursor: pointer;
    appearance: base-select;
}

input[type="text"],
input[type="number"],
select {
    background : var(--var-color-theme-darkest);
    border : 2px solid var(--var-color-theme-dark);
    color : var(--var-color-theme-text);
    border-radius: 0;
    line-height : 26px;
    font-size : 14px;
    box-sizing : border-box;
    height : 30px;
    padding: 0;
    padding-left : 5px;
    transition-duration : var(--var-transition-duration);
    transition-property : border-color, background, border, color, background-color;
    -moz-appearance: textfield;
}
input[type="text"]:hover,
input[type="number"]:hover,
select:hover {
    border-color: var(--var-color-theme-accent);
    color: var(--var-color-theme-accent-bright);
}
input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    background : var(--var-color-theme-darkest);
    border : 2px solid var(--var-color-theme-accent);
    color: var(--var-color-theme-accent-bright);
    outline: none;

}
input[type="text"]::selection,
input[type="number"]::selection,
select::selection {
    color: var(--var-color-theme-darkest);
    background-color: var(--var-color-theme-accent-bright)
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    display: none;
}
.input-number {
    display: grid;
    grid-template-rows: 14px 14px;
    grid-template-columns: auto 14px;
    row-gap: 2px;
    column-gap: 2px;
}
.input-number input[type=number] {
    grid-row: 1/3;
    grid-column: 1/2;
}

.input-number button.number-input-increment {
    background: var(--var-color-theme-dark);
    border: 2px solid var(--var-color-theme-dark);
    box-sizing: border-box;
    height: 14px;
    width: 14px;
    text-align: center;
    transition-duration : var(--var-transition-duration);
    line-height: 10px;
    font-size: 10px;
    padding: 0;
    font-weight: bold;
    fill: var(--var-color-theme-darkest);
    cursor: pointer;
}
.input-number:has(input[type=number]:hover) button.number-input-increment{
    border-color: var(--var-color-theme-accent);
    background: var(--var-color-theme-accent);
}

.input-number button.number-input-increment:hover {
    border-color: var(--var-color-theme-accent);
    background: var(--var-color-theme-accent);
}
.input-number button.number-input-increment.up {
    grid-row: 1/2;
    grid-column: 2/3;
}
.input-number button.number-input-increment.down {
    grid-row: 2/3;
    grid-column: 2/3;
}
option {
    background: var(--var-color-theme-darkest);
    color: var(--var-color-theme-text);
}
option:not(:last-child) {
    border-bottom: 1px solid var(--var-color-theme-dark);
}
option:focus,
option:hover {
    background: var(--var-color-theme-accent);
    color: var(--var-color-theme-darkest);
    outline: none;
}
::picker(select) {
    appearance: base-select;
    border: 2px solid var(--var-color-theme-accent);
    scrollbar-width: none;
    transition-duration: var(--var-transition-duration);
}
select::picker-icon {
  transition: var(--var-transition-duration) rotate;
  margin-right: 6px;
  color: var(--var-color-theme-dark);
}
select:hover::picker-icon,
select:focus::picker-icon {
  color: var(--var-color-theme-accent);
}
select:open::picker-icon {
  rotate: 180deg;
}

input:focus {
  outline: none;
}