.popup-menu-wrapper {
    z-index: 5;
    position: fixed;
    height: min-content;
    left: 150px;
    top: 30px;
}
.popup-menu {
    z-index: 4;
    position: relative;
    height: min-content;
    width: min-content;
    display: flex;
    flex-direction: column;
    background: var(--var-color-theme-darkest);
    border: 2px solid var(--var-color-theme-dark);
    box-sizing: border-box;
    animation: appear calc(var(--var-transition-duration) * 2.0) ease-in-out 0ms forwards;
}

@keyframes appear {
    0% {
        box-shadow: 0 0 0 0 var(--var-color-theme-accent);
    }
    50% {
        box-shadow: 0 0 2px 2px var(--var-color-theme-accent-bright);
    }
    100% {
        box-shadow: 0 0 0 0 var(--var-color-theme-accent);
    }
}

.popup-menu:hover {
    border-color: var(--var-color-theme-accent);
}
.popup-menu-entry {
    line-height: 30px;
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 30px auto auto 30px;
    height: 30px;
    column-gap: 2px;
    cursor: pointer;
}
.popup-menu-entry-icon {
    pointer-events: none;
    padding: 2px;
}

.popup-menu-entry-text {
    pointer-events: none;
    white-space: nowrap;
    text-align: left;
    color: var(--var-color-theme-text);
    padding-left: 4px;
    transition-duration: var(--var-transition-duration);
}

.popup-menu-entry-bind {
    pointer-events: none;
    text-align: right;
    white-space: nowrap;
    font-size: 12px;
    color: var(--var-color-theme-text-dark);
    padding-left: 24px;
    transition-duration: var(--var-transition-duration);
}
.popup-menu-entry-dropdown {
    pointer-events: none;
    text-align: center;
    color: var(--var-color-theme-text);
    transition-duration: var(--var-transition-duration);
}
.popup-menu-divider {
    height: 0px;
    min-width: 120px;
    border-bottom: 2px solid rgb(from var(--var-color-theme-dark) r g b / 0.5);
    margin-bottom: 4px;
    margin-top: 4px;
}

.popup-menu-entry:not(.popup-menu-entry.inactive):hover .popup-menu-entry-text,
.popup-menu-entry:not(.popup-menu-entry.inactive):hover .popup-menu-entry-dropdown {
    color: var(--var-color-theme-accent-bright);
}
.popup-menu-entry:not(.popup-menu-entry.inactive):hover .popup-menu-entry-bind {
    color: var(--var-color-theme-accent);
}

.popup-menu-entry:not(.popup-menu-entry.inactive):hover {
    background: rgb(from var(--var-color-theme-accent) r g b / 0.25) ;
}