.project {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    overflow: hidden;
}

.project-cover {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

.project-background {
    z-index: 0;
}

.project-grid {
    z-index: 1;
    background-size: 100px 100px;
    transition-property: background-image;
    background-image:
        repeating-linear-gradient(to right,  rgb(from var(--var-color-theme-accent) r g b / 0.02) 0%, rgb(from var(--var-color-theme-accent) r g b / 0.02) 2%, transparent 2%, transparent 20%),
        repeating-linear-gradient(to bottom,  rgb(from var(--var-color-theme-accent) r g b / 0.02) 0%, rgb(from var(--var-color-theme-accent) r g b / 0.02) 2%, transparent 2%, transparent 20%);
}

.project-grid.precision {
    background-image:
        repeating-linear-gradient(to right,  rgb(from var(--var-color-theme-accent) r g b / 0.1) 0%, rgb(from var(--var-color-theme-accent) r g b / 0.1) 2%, transparent 2%, transparent 20%),
        repeating-linear-gradient(to bottom,  rgb(from var(--var-color-theme-accent) r g b / 0.1) 0%, rgb(from var(--var-color-theme-accent) r g b / 0.1) 2%, transparent 2%, transparent 20%);
}

.project-elements {
    z-index: 2;
    transition-property: none;
    transform-origin: 0 0 ;
}

.project-input {
    z-index: 3;
    /* background: red; */
    opacity: 0.1;
    cursor: grabbing;
}

.project-hud {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: min-content auto min-content;
}

.viewport-stats-container {
    color: var(--var-color-theme-text-dark);
    grid-row: 3/4;
    grid-column: 3/4;
    padding-right: 15px;
    padding-bottom: 11px;
    line-height: 18px;
    opacity: 0.5;
    width: 300px;
}