#settings-viewport {
    display: grid;
    grid-template-rows: 30px 30px auto;
    row-gap: 15px;
    grid-template-columns: 250px auto;
    height: 100%;
    width: 100%;
    background: var(--var-color-theme-darkest);
    padding-top: 15px;
    box-sizing: border-box;
}

#settings-title {
    grid-row: 1/2;
    grid-column: 1 /-1;
    color: var(--var-color-theme-text-dark);
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
}

#settings-search {
    grid-row: 2/3;
    grid-column: 1 /-1;
    background : var(--var-color-theme-darkest);
    border : 2px solid var(--var-color-theme-dark);
    color: var(--var-color-theme-text);
    line-height: 26px;
    font-size: 14px;
    box-sizing: border-box;
    height: 30px;
    padding-left: 2px;
    transition-duration: var(--var-transition-duration);
    width: 60dvw;
    margin-left: 20dvw;
}
#settings-search:hover {
    border-color: var(--var-color-theme-accent);
    color: var(--var-color-theme-accent-bright);
}

#settings-search:focus {
    background : var(--var-color-theme-darkest);
    border : 2px solid var(--var-color-theme-accent);
    color: var(--var-color-theme-accent-bright);
    outline: none;

}
#settings-search::selection {
    color: var(--var-color-theme-darkest);
    background-color: var(--var-color-theme-accent-bright)
}

#settings-sidebar {
    grid-row: 3/4;
    grid-column: 1/2;
    background: var(--var-color-theme-darkest);
    border-top: 2px solid var(--var-color-theme-dark);
    border-right: 2px solid var(--var-color-theme-dark);
}
#settings-panel {
    grid-row: 3/4;
    grid-column: 2/3;
    background: var(--var-color-theme-darkest);
    border-top: 2px solid var(--var-color-theme-dark);

}