#settings-viewport {
    display: grid;
    grid-template-rows: 30px 30px auto;
    row-gap: 15px;
    grid-template-columns: 450px auto;
    height: 100%;
    width: 100%;
    background: var(--var-color-theme-darkest);
    padding-top: 15px;
    box-sizing: border-box;
}

#settings-title {
    grid-row: 1/2;
    grid-column: 1 /-1;
    color: var(--var-color-theme-text-dark);
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
}

#settings-search {
    grid-row : 2/3;
    grid-column : 1 /-1;
    width : 60dvw;
    margin-left : 20dvw;
}

#settings-sidebar {
    grid-row: 3/4;
    grid-column: 1/2;
    background: var(--var-color-theme-darkest);
    border-top: 2px solid var(--var-color-theme-dark);
    border-right: 2px solid var(--var-color-theme-dark);
    display: flex;
    flex-direction: column;
    color: var(--var-color-theme-text);
    padding-top : 30px;
    padding-bottom : 30px;
    padding-right: 4px;
    padding-left: 16px;
    overflow-y: auto;
}

#settings-sidebar::-webkit-scrollbar,
#settings-panel::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
#settings-sidebar::-webkit-scrollbar-thumb,
#settings-panel::-webkit-scrollbar-thumb {
    background: rgb(from var(--var-color-theme-accent-bright) r g b / 0.5);
}
.settings-sidebar-category {
    text-align: start;
    transition-duration: var(--var-transition-duration);
    line-height: 30px;
}
.settings-sidebar-category p {
    cursor: pointer;
    width: 100%;
    transition-duration: var(--var-transition-duration);
}
.settings-sidebar-category:not(:last-child) {
    margin-bottom: 15px;
}
.settings-sidebar-category p::before {
    content: "> ";
    opacity : 1;
    white-space: nowrap;
}
.settings-sidebar-category.expanded p::before {
    content : "> ";
    opacity : 0;
}
.settings-sidebar-subcategory {
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
    padding-left: 16px;
    transition-duration: var(--var-transition-duration);
    color: var(--var-color-theme-text);
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.settings-sidebar-subcategory.selected,
.settings-sidebar-subcategory:hover {
    color: var(--var-color-theme-accent-bright);
}
.settings-sidebar-category:not(.expanded) .settings-sidebar-subcategory {
    height: 0px;
    opacity: 0;
}
.settings-sidebar-category:has(.selected),
.settings-sidebar-category:has(:hover) {
    color: var(--var-color-theme-accent-bright);
}

.settings-sidebar-category:has(.settings-sidebar-subcategory.selected) .settings-sidebar-subcategory:not(:last-child):not(.selected)::before,
.settings-sidebar-category:has(.settings-sidebar-subcategory:hover) .settings-sidebar-subcategory:not(:last-child):not(:hover)::before {
    content: "┠ ";
    color: var(--var-color-theme-accent);
}
.settings-sidebar-subcategory::before,
.settings-sidebar-category:has(.settings-sidebar-subcategory:hover)  .settings-sidebar-subcategory:hover ~ .settings-sidebar-subcategory:not(:last-child)::before,
.settings-sidebar-category:has(.settings-sidebar-subcategory.selected)  .settings-sidebar-subcategory.selected ~ .settings-sidebar-subcategory:not(:last-child)::before {
    content: "├ ";
    color: var(--var-color-theme-text);
}
.settings-sidebar-subcategory.selected::before,
.settings-sidebar-subcategory:hover::before {
    content: "┡ ";
    color: var(--var-color-theme-accent);
}
.settings-sidebar-subcategory:last-child::before {
    content: "└ ";
    color: var(--var-color-theme-text);
}
.settings-sidebar-subcategory.selected:last-child::before,
.settings-sidebar-subcategory:hover:last-child::before {
    content: "┗ ";
    color: var(--var-color-theme-accent);
}
.settings-sidebar-category p:hover, .settings-sidebar-subcategory:hover {
    color: var(--var-color-theme-accent-bright);
}

#settings-panel {
    grid-row: 3/4;
    grid-column: 2/3;
    background: var(--var-color-theme-darkest);
    border-top: 2px solid var(--var-color-theme-dark);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 60px;
}

:has(#settings-sidebar-checkbox:checked) #settings-sidebar {
    display: none;
}
:has(#settings-sidebar-checkbox:checked) #settings-panel {
    grid-column: 1/3;
}

#settings-sidebar-checkbox{
    background: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
    grid-row : 2/3;
    grid-column : 1 /-1;
    position: relative;
    left: 15px;
    opacity: 0;
    z-index: 1;
}

#sidebar-button-toggle {
    opacity: 1;
    z-index: 1;
    grid-row : 2/3;
    grid-column : 1 /-1;
    position: relative;
    left: 15px;
    stroke: var(--var-color-theme-accent);
}
#sidebar-button-toggle #sidebar-vis {
    fill: var(--var-color-theme-accent);
}

:has(#settings-sidebar-checkbox:checked) #sidebar-button-toggle,
:has(#settings-sidebar-checkbox:checked) #sidebar-vis {
    fill: none;
    stroke: var(--var-color-theme-dark);
}
:has(#settings-sidebar-checkbox:hover) #sidebar-button-toggle,
:has(#settings-sidebar-checkbox:hover) #sidebar-vis {
    stroke: var(--var-color-theme-accent);
}

.settings-category {
    display: grid;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    text-align: start;
    color: var(--var-color-theme-text-dark);
    gap: 30px;
}
.settings-category p {
    grid-column: 1/-1;
    line-height: 40px;
    font-size: 40px;
    color: var(--var-color-theme-text);
}

.setting {
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: minmax(20px, auto) auto 30px;
    grid-template-columns: min-content auto;
    row-gap: 5px;
}

.setting-label {
    font-weight: bold;
    grid-column: 1/3;
    grid-row: 1/2;
    color: var(--var-color-theme-text);
    line-height: 20px;
    font-size: 20px;
}
.setting-description {
    grid-column: 1/3;
    grid-row: 2/3;
    line-height: 20px;
    font-size: 16px;
}
.setting input,
.setting .input-number,
select {
    grid-column: 1/3;
    grid-row: 3/4;
}

.setting.type-checkbox{
    grid-template-rows: minmax(20px, auto) auto;
}
.setting.type-checkbox .setting-description{
    grid-column: 2/3;
    grid-row: 2/3;
    padding-bottom: 0px;
}
.setting.type-checkbox .checkbox{
    grid-column: 1/2;
    grid-row: 2/3;
    background: var(--var-color-theme-darkest);
    border-radius: 0;
    margin-right: 5px;
}

.setting.hidden,
.settings-sidebar-subcategory.hidden {
    display: none;
}
.settings-sidebar-category:not(),
.settings-category:not(:has(.settings-category:not(:has(.hidden)))) {
    display: none;
}

.settings-sidebar-category:not(.settings-sidebar-category:has(.settings-sidebar-subcategory:not(.hidden))),
.settings-category:not(.settings-category:has(.setting:not(.hidden))) {
    display: none;
}

.setting.type-color {
    grid-column: inherit;
    grid-template-rows: minmax(20px, auto) auto auto;
}

@media (max-width: 1140px) {
    #settings-sidebar-checkbox,
    #sidebar-button-toggle,
    #settings-sidebar {
        display: none;
    }
    #settings-panel {
        grid-column: 1/3;
    }
}

@media (max-width: 690px) {
.setting.type-color {
    grid-column: 1/-1;
    grid-template-rows: minmax(20px, auto) auto auto;
}
    
}

.color-input {
    min-width: 300px;
    grid-row: 3/4;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 30px 30px 30px;
    grid-template-columns: 90px auto;
    gap: 2px;
}

.color-preview {
    height: 94px;
    width: 90px;
    grid-column: 1/2;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.color-preview .bg {
    width: 100%;
    height: 62px;
    background: #ffffff;
    box-sizing: border-box;
    border: 2px solid var(--var-color-theme-dark);
}

.color-picker-range {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.color-picker-range input[type="range"] {
    flex-grow: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

.color-picker-range input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border: 2px solid var(--var-color-theme-dark);
    transition-duration: var(--var-transition-duration);
}
.color-picker-range input[type="range"]:hover::-webkit-slider-runnable-track {
    border-color: var(--var-color-theme-accent);
}
.color-picker-range.hue input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(90deg,red,#ff0 17%,#0f0 33%,#0ff 50%,#00f 66%,#f0f 83%,red);
}
.color-picker-range.sat input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(90deg,white, var(--color-picker-hue, red));
}
.color-picker-range.val input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, black, white);
}

.color-picker-range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 20px;
    background: var(--color-picker-thumb-val, red);
    position: relative;
    top: -9px;
    border: 2px solid var(--var-color-theme-dark);
    box-sizing: content-box;
    cursor: ew-resize;
}


.color-picker-range input[type="number"] {
    width : 60px;
}
