#status-bar {
    width : 100%;
    height : 26px;
    border : 2px solid var(--var-color-theme-dark);
    box-sizing : border-box;
    transition-duration : var(--var-transition-duration);
    font-family : var(--var-font-regular);
    color : var(--var-color-theme-text-dark);
    font-size: 12px;
    line-height: 22px;
}

#status-bar:hover {
    border-color : var(--var-color-theme-accent);
    color : var(--var-color-theme-accent);
}