#status-bar {
    width : 100%;
    height : 26px;
    border : 2px solid var(--var-color-theme-dark);
    box-sizing : border-box;
    transition-duration : var(--var-transition-duration);
    font-family : var(--var-font-regular);
    color : var(--var-color-theme-text-dark);
    font-size: 14px;
    line-height: 22px;
    display: flex;
    flex-direction: row;
}

#status-bar svg {
    stroke: var(--var-color-theme-text-dark);
    height: 14px;
    padding-top: 4px;
    transition-duration: var(--var-transition-duration);
    stroke-width: 2px;
    fill: none;
}

#status-bar:hover,
#status-bar:hover svg {
    border-color : var(--var-color-theme-accent);
    color : var(--var-color-theme-accent-bright);
    stroke: var(--var-color-theme-accent-bright);
    fill: none;
}
#status-bar-project-stats {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-left: 4px;
}
#status-bar-app-stats {
    text-align: end;
    padding-right: 4px;
}
#status-bar-project-stats-project-name,
#status-bar-project-stats-connections-count,
#status-bar-project-stats-elements-count,
#status-bar-project-stats-time {
    display: flex;
}