/* #region Photo element icon */
.svg-photo-element.line {stroke: var(--var-color-theme-dark);fill: none;}
.svg-photo-element.plus {stroke: var(--var-color-theme-darkest);fill: var(--var-color-theme-dark);}
.svg-photo-element.inner-rect {stroke: none; fill: var(--var-color-theme-dark);}
.svg-photo-element.outer-rect {stroke: var(--var-color-theme-dark); fill: var(--var-color-theme-darkest);}
.svg-photo-element.highlight .svg-photo-element.line {stroke: var(--var-color-theme-accent-bright);fill: none;}
.svg-photo-element.highlight .svg-photo-element.plus {stroke: var(--var-color-theme-darkest);fill: var(--var-color-theme-accent-bright);}
.svg-photo-element.highlight .svg-photo-element.inner-rect {stroke: none; fill: var(--var-color-theme-accent-bright);}
.svg-photo-element.highlight .svg-photo-element.outer-rect {stroke: var(--var-color-theme-accent-bright); fill: var(--var-color-theme-darkest);}
/* #endregion */

/* #region Picture element icon */
.svg-picture-element.plus {stroke: var(--var-color-theme-darkest);fill: var(--var-color-theme-dark);}
.svg-picture-element.inner-rect {stroke: none; fill: var(--var-color-theme-dark);}
.svg-picture-element.outer-rect {stroke: var(--var-color-theme-dark); fill: var(--var-color-theme-darkest);}
.svg-picture-element.highlight .svg-picture-element.plus {stroke: var(--var-color-theme-darkest);fill: var(--var-color-theme-accent-bright);}
.svg-picture-element.highlight .svg-picture-element.inner-rect {stroke: none; fill: var(--var-color-theme-accent-bright);}
.svg-picture-element.highlight .svg-picture-element.outer-rect {stroke: var(--var-color-theme-accent-bright); fill: var(--var-color-theme-darkest);}
/* #endregion */

/* #region Text element icon */
.svg-text-element.line {stroke: var(--var-color-theme-dark);fill: none;}
.svg-text-element.plus {stroke: var(--var-color-theme-darkest);fill: var(--var-color-theme-dark);}
.svg-text-element.outer-rect {stroke: var(--var-color-theme-dark); fill: var(--var-color-theme-darkest);}
.svg-text-element.highlight .svg-text-element.line {stroke: var(--var-color-theme-accent-bright);fill: none;}
.svg-text-element.highlight .svg-text-element.plus {stroke: var(--var-color-theme-darkest);fill: var(--var-color-theme-accent-bright);}
.svg-text-element.highlight .svg-text-element.outer-rect {stroke: var(--var-color-theme-accent-bright); fill: var(--var-color-theme-darkest);}
/* #endregion */

/* #region Note element icon */
.svg-note-element.line {stroke: var(--var-color-theme-dark);fill: none;}
.svg-note-element.dot {fill: var(--var-color-theme-dark);}
.svg-note-element.plus {stroke: var(--var-color-theme-darkest);fill: var(--var-color-theme-dark);}
.svg-note-element.outer-rect {stroke: var(--var-color-theme-dark); fill: var(--var-color-theme-darkest);}
.svg-note-element.shade {stroke: none; fill: var(--var-color-theme-dark);}
.svg-note-element.highlight .svg-note-element.line {stroke: var(--var-color-theme-accent-bright)}
.svg-note-element.highlight .svg-note-element.dot {fill: var(--var-color-theme-accent-bright);}
.svg-note-element.highlight .svg-note-element.plus {stroke: var(--var-color-theme-darkest);fill: var(--var-color-theme-accent-bright);}
.svg-note-element.highlight .svg-note-element.outer-rect {stroke: var(--var-color-theme-accent-bright); fill: var(--var-color-theme-darkest);}
.svg-note-element.highlight .svg-note-element.shade {stroke: none; fill: var(--var-color-theme-accent-bright);}
/* #endregion */

/* #region Audio element icon */
.svg-audio-element.plus {stroke: var(--var-color-theme-darkest);fill: var(--var-color-theme-dark);}
.svg-audio-element.note {stroke: var(--var-color-theme-dark); fill: none;}
.svg-audio-element.highlight .svg-audio-element.plus {stroke: var(--var-color-theme-darkest);fill: var(--var-color-theme-accent-bright);}
.svg-audio-element.highlight .svg-audio-element.note {stroke: var(--var-color-theme-accent-bright); fill: none;}
/* #endregion */

/* #region Video element icon */
.svg-video-element.plus {stroke: var(--var-color-theme-darkest);fill: var(--var-color-theme-dark);}
.svg-video-element.triangle {stroke: var(--var-color-theme-dark); fill: var(--var-color-theme-darkest);}
.svg-video-element.highlight .svg-video-element.plus {stroke: var(--var-color-theme-darkest);fill: var(--var-color-theme-accent-bright);}
.svg-video-element.highlight .svg-video-element.triangle {stroke: var(--var-color-theme-accent-bright); fill: var(--var-color-theme-darkest);}
/* #endregion */

/* #region App icon */
.svg-app-icon.yarn {stroke: none;fill: var(--var-color-theme-dark);}
.svg-app-icon.strand {stroke: var(--var-color-theme-dark); fill: none;}
.svg-app-icon.highlight .svg-app-icon.yarn {stroke: none;fill: var(--var-color-theme-accent-bright);}
.svg-app-icon.highlight .svg-app-icon.strand {stroke: var(--var-color-theme-accent-bright); fill: none;}
/* #endregion */

/* #region New project icon */
.svg-new-project.rect,
.svg-new-project.cross{stroke: var(--var-color-theme-dark);fill: var(--var-color-theme-darkest);}
.svg-new-project.line {stroke: var(--var-color-theme-dark);fill: none;}
.svg-new-project.highlight .svg-new-project.rect,
.svg-new-project.highlight .svg-new-project.cross{stroke: var(--var-color-theme-accent-bright);fill: var(--var-color-theme-darkest);}
.svg-new-project.highlight .svg-new-project.line{stroke: var(--var-color-theme-accent-bright);fill: none;}
/* #endregion */

/* #region Open project icon */
.svg-open-project.rect {stroke: var(--var-color-theme-dark);fill: var(--var-color-theme-darkest);}
.svg-open-project.shade {stroke: none;fill: var(--var-color-theme-dark);}
.svg-open-project.highlight .svg-open-project.rect{stroke: var(--var-color-theme-accent-bright);}
.svg-open-project.highlight .svg-open-project.shade{fill: var(--var-color-theme-accent-bright);}
/* #endregion */

/* #region Open recent icon */
.svg-open-recent.rect {stroke: var(--var-color-theme-dark);fill: var(--var-color-theme-darkest);}
.svg-open-recent.shade {stroke: none;fill: var(--var-color-theme-dark);}
.svg-open-recent.clock {stroke: var(--var-color-theme-dark);fill: none;}
.svg-open-recent.highlight .svg-open-recent.rect,
.svg-open-recent.highlight .svg-open-recent.clock{stroke: var(--var-color-theme-accent-bright);}
.svg-open-recent.highlight .svg-open-recent.shade{fill: var(--var-color-theme-accent-bright);}
/* #endregion */

/* #region Save project icon */
.svg-save-project.rect,
.svg-save-project.window {stroke: var(--var-color-theme-dark);fill: var(--var-color-theme-darkest);}
.svg-save-project.circle,
.svg-save-project.cover {stroke: none;fill: var(--var-color-theme-dark);}
.svg-save-project.highlight .svg-save-project.rect {stroke: var(--var-color-theme-accent-bright);}
.svg-save-project.highlight .svg-save-project.circle,
.svg-save-project.highlight .svg-save-project.cover {fill: var(--var-color-theme-accent-bright);}
/* #endregion */

/* #region Save as icon */
.svg-save-as.rect,
.svg-save-as.pencil,
.svg-save-as.window {stroke: var(--var-color-theme-dark);fill: var(--var-color-theme-darkest);}
.svg-save-as.circle,
.svg-save-as.cover,
.svg-save-as.pencil-tip {stroke: none;fill: var(--var-color-theme-dark);}
.svg-save-as.highlight .svg-save-as.rect,
.svg-save-as.highlight .svg-save-as.pencil{stroke: var(--var-color-theme-accent-bright);}
.svg-save-as.highlight .svg-save-as.circle,
.svg-save-as.highlight .svg-save-as.cover,
.svg-save-as.highlight .svg-save-as.pencil-tip {fill: var(--var-color-theme-accent-bright);}
/* #endregion */