#title-bar-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: black;
    height: 30px;
    background: var(--var-color-theme-darkest);
    fill: var(--var-color-theme-dark);
    stroke: var(--var-color-theme-dark);
    transition-duration: 150ms;
    gap: 2px;
    z-index: 1;
}

#title-bar:hover {
    border-color: var(--var-color-theme-accent);
}
#title-bar:hover svg{
    fill: var(--var-color-theme-accent);
    stroke: var(--var-color-theme-accent);
}
#title-bar:hover #title-bar-label {
    color: var(--var-color-theme-accent);
}

#title-bar-label {
    app-region: drag;
    font-family: var(--var-font-regular);
    color: var(--var-color-theme-text-dark);
    font-size: 18px;
    flex-grow: 1;
    text-align: center;
    line-height: 26px;
    user-select: none;
    -webkit-user-select: none;
    transition-duration: 150ms;
    font-weight: 700;
    border: 2px solid var(--var-color-theme-dark);
    box-sizing: border-box;
    height: 100%;
}

.title-bar-button {
    width: 45px;
    height: 100%;
    cursor: pointer;
    transition-duration: 150ms;
    z-index: 2;
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    justify-content: center;
    border: 2px solid var(--var-color-theme-dark);
    box-sizing: border-box;
}

.title-bar-button svg {
    transition-duration: 150ms;
    fill: var(--var-color-theme-dark);
    stroke: var(--var-color-theme-dark);
}

.title-bar-button:hover svg {
    fill: var(--var-color-theme-accent);
    stroke: var(--var-color-theme-accent);
}

#button-close:hover {
    border-color: var(--var-color-close);
}

#button-close:hover svg {
    fill: var(--var-color-close);
    stroke: var(--var-color-close)
}

.title-bar-button:hover {
    border-color: var(--var-color-theme-accent);
}