@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap'); /*TODO: Download fonts to have offline app look alright*/
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@font-face {
    font-family: JetBrains Mono;
    src: url(../fonts/JetBrainsMono-Regular.ttf);
}
:root {
    --var-outline-width : 5px;
    --var-selection-rect-inactive : all;
    --var-font-regular : "JetBrains Mono";
    --var-font-handwritten : "Covered By Your Grace";
    --var-color-close : #e81123;
    --var-transition-duration : 150ms;

    /* Yarnboard dark */
/* 
    --var-color-theme-darkest : #0d0d0d;
    --var-color-theme-dark : #333333;
    --var-color-theme-text-dark : #595959;
    --var-color-theme-text : #a6a6a6;
    --var-color-theme-accent : #1d6600;
    --var-color-theme-accent-bright : #33b300;
     */
    /* Gruvbox dark */
        
    --var-color-theme-darkest : #282828;
    --var-color-theme-dark : #928374;
    --var-color-theme-text-dark : #ebdbb2;
    --var-color-theme-text : #fbf1c7;
    --var-color-theme-accent : #98971a;
    --var-color-theme-accent-bright : #b8bb26;
    
    /* Gruvbox light */
/*         
    --var-color-theme-darkest : #fbf1c1;
    --var-color-theme-dark : #928374;
    --var-color-theme-text-dark : #282828;
    --var-color-theme-text : #3c3836;
    --var-color-theme-accent : #b57614;
    --var-color-theme-accent-bright : #d79921;
     */
    /* Solarized dark */
/*         
    --var-color-theme-darkest : #002b36;
    --var-color-theme-dark : #073642;
    --var-color-theme-text-dark : #839496;
    --var-color-theme-text : #93a1a1;
    --var-color-theme-accent : #268bd2;
    --var-color-theme-accent-bright : #268bd2;
     */
    /* Solarized light */
/*         
    --var-color-theme-darkest : #eee8d5;
    --var-color-theme-dark : #839496;
    --var-color-theme-text-dark : #657b83;
    --var-color-theme-text : #586e75;
    --var-color-theme-accent : #859900;
    --var-color-theme-accent-bright : #859900;
     */

}

