#window-container {
    flex-grow : 1;
    display : flex;
    flex-direction : column;
    height: 100%;
    width : 100dvw;
    /* overflow: visible; */
}

#tab-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 30px;
    gap : 2px;
    border-bottom : 2px solid var(--var-color-theme-dark);
    box-sizing: border-box;
    transition-duration : var(--var-transition-duration);
    width: fit-content;
    min-width: 100dvw;
}



.tab {
    text-align: left;
    line-height: 26px;
    background : var(--var-color-theme-darkest);
    border: 2px solid var(--var-color-theme-dark);
    height: 28px;
    box-sizing: border-box;
    transition-duration : var(--var-transition-duration);
    border-bottom: 0px solid var(--var-color-theme-darkest);
    min-width: 200px;
    white-space: nowrap;
    z-index: 2;
    padding-left : 4px;
    padding-right : 4px;
    color : var(--var-color-theme-text-dark);
    display: flex;
    align-items: center;
    flex-direction: row;
}

.active-tab {
    /* background: linear-gradient(var(--var-color-theme-dark), var(--var-color-theme-darkest)); */
    background : var(--var-color-theme-darkest);
    color : var(--var-color-theme-text);
    height: 30px;
    position: relative;
    text-shadow: 0px 0px 2px var(--var-color-theme-text);
}

.active-tab:hover #projects {
    border-color : var(--var-color-theme-accent);
}
 
.tab:hover:not(.active-tab) {
    border-color : var(--var-color-theme-accent);
    color : var(--var-color-theme-accent-bright);
}

.viewport {
    width: 100%;
    height: 100%;
}
.viewport:not(.current-viewport) {
    display: none;
}

#viewport {
    transition-duration : var(--var-transition-duration);
    flex-grow : 1;
    box-sizing : border-box;
    border : 2px solid var(--var-color-theme-dark);
    border-top : 0px solid transparent;
    overflow: hidden;
}
#tab-bar.hidden {
    display: none;
}
#window-container:has(#tab-bar.hidden) #viewport {
    border-top: 2px solid var(--var-color-theme-dark)
}
#window-container:has(#viewport:hover) > #tab-bar{
    border-color : var(--var-color-theme-accent);
}
#window-container:has(#viewport:hover) > #viewport{
    border-color : var(--var-color-theme-accent);
}
#window-container:has(#viewport:hover) .active-tab{
    border-color : var(--var-color-theme-accent);
    color : var(--var-color-theme-accent-bright);
    text-shadow: 0px 0px 2px var(--var-color-theme-accent-bright);
}
#window-container:has(.active-tab:hover) > #tab-bar{
    border-color : var(--var-color-theme-accent);
}
#window-container:has(.active-tab:hover) > #viewport{
    border-color : var(--var-color-theme-accent);
}
#window-container:has(.active-tab:hover) .active-tab{
    border-color : var(--var-color-theme-accent);
    color : var(--var-color-theme-accent-bright);
    text-shadow: 0px 0px 2px var(--var-color-theme-accent-bright);
}

.tab-title {
    flex-grow: 1;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tab-button {
    width: 26px;
    height: 26px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition-duration: var(--var-transition-duration);
    border: 4px solid var(--var-color-theme-darkest);
}
.tab-button:not(.active-tab) svg.tab-close-button {
    height: 16px;
    width: 16px;
    stroke: var(--var-color-theme-text);
    fill: none;
    stroke-width: 2px;
    opacity: 0;
    transition-duration: var(--var-transition-duration);
}
.tab:hover svg.tab-close-button {
    opacity: 1;
    stroke: var(--var-color-theme-text-dark);
}
.tab.active-tab svg.tab-close-button {
    opacity: 1;
    stroke: var(--var-color-theme-text);
}
.tab-button:hover svg.tab-close-button {
    opacity: 1;
    stroke: var(--var-color-theme-accent-bright);
}
.tab-button:hover {
    background: color(from var(--var-color-theme-accent) srgb r g b / 25%);
    border: 4px solid var(--var-color-theme-darkest);
}