@import url(variables.css);

* {
    font-family: var(--var-font-regular);
    margin: 0;
    user-select: none;
    color: var(--var-color-content-base1)
}

img {
    user-select: none;
    pointer-events: none;
}

body {
    background: var(--var-color-background-base02);
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

title-bar {
    background: var(--var-color-background-base03);
    color: var(--var-color-content-base1);
    width: 100dvw;
    min-height: 30px;
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#app-icon {
    flex-grow: 2;
    height: 26px;
    padding-left: 8px;
}
#app-icon img {
    width: 100%;
    padding-top: 2px;
    width: 26px;
}

#title-bar-label {
    font-family:  var(--var-font-regular);
    font-size: 16px;
    flex-grow: 1;
    text-align: center;
    line-height: 30px;
    position: absolute;
    width: 100%;
}

#title-bar-controls {
    height: 30px;
    width: 180px;
    display: flex;
    flex-direction: row;
    -webkit-app-region: none;
}

#title-bar-controls img {
    height: 22px;
    width: 60px;
    padding-top: 2px;
}

.title-bar-button {
    width: 60px;
    background: var(--var-color-background-base03);
    cursor: pointer;
    transition-duration: 150ms;
    z-index: 2;
}

#button-close:hover {
    background: var(--var-color-close);
}

.title-bar-button:hover {
    background: var(--var-color-background-base02);
}


main-body {
    flex-grow: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
}

main-body::-webkit-scrollbar {
    display: none;
}