@import url(variables.css);

#current-project {
    border: 2px solid var(--var-color-theme-dark);
    box-sizing: border-box;
    flex-grow: 1;
    height: 100%;
    transition-duration: 150ms;
    padding: 4px;
    display: block;
    overflow: hidden;
    position: relative;
}

#current-project:hover {
    border-color: var(--var-color-theme-accent);
}

#project-background {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#project-elements {
    position: absolute;
    top: calc(50% + 6px);
    left: calc(50% + 6px);
}

#mouse-cords {
    position: absolute;
    bottom: 6px;
    right: 8px;
    color: rgb(from var(--var-color-theme-text) r g b / 60%);
    font-size: 10px;
    z-index: 2;
}

#view-scale {
    position: absolute;
    bottom: 16px;
    right: 8px;
    color: rgb(from var(--var-color-theme-text) r g b / 60%);
    font-size: 10px;
    z-index: 2;
}