:root {
    --var-color-background-base03: #002b36;
    --var-color-background-base02: #073642;
    --var-color-background-base2: #eee8d5;
    --var-color-background-base3: #fdf6e3;
    --var-color-content-base01: #586e75;
    --var-color-content-base00: #657b83;
    --var-color-content-base0: #839496;
    --var-color-content-base1: #93a1a1;

    --var-color-close: #e81123;
}