@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

:root {
    --var-color-background-base034: #00141a;
    --var-color-background-base03: #002b36;
    --var-color-background-base02: #073642;
    --var-color-background-base2: #eee8d5;
    --var-color-background-base3: #fdf6e3;
    --var-color-content-base01: #586e75;
    --var-color-content-base00: #657b83;
    --var-color-content-base0: #839496;
    --var-color-content-base1: #93a1a1;

    --var-color-close: #e81123;
    --var-outline-width: 5px;

}